@import "~bootstrap/scss/bootstrap.scss";

.bigCounter{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    background: black;
    width: 100%;
    color: white;
    width: 100%;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.time{
    padding: 10px;
}